body {
    margin-top: 20px;
    background: #f6f9fc;
}
.account-block {
    padding: 0;
    background-image: url(https://www.bootdey.com/image/500x500/FFB6C1/000000);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}
.text-theme {
    color: #5369f8 !important;
}
.btn-theme {
    background-color: #007bff;
    border-color: #5369f8;
    color: #fff;
    padding: 8.7px 0px;
    width: 100%;
}

.form-control{
    width: 100%;
}

.container-wrapper {
  display: flex; /* Flexbox 사용 */
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
  margin: 0; /* 여백 제거 */
  padding: 0; /* 패딩 제거 */
  box-sizing: border-box; /* 요소 크기 정확히 계산 */
}

.card-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
  width: 35%;
  height: 73%;
  max-width: 800px; /* 최대 너비 */
  min-width: 400px; /* 최소 너비 */
  margin: 0 0 200px 0;
}

@media (max-width: 768px) {
  .card-container {
    width: 70%;
  }
}